:root {
  --color-scheme: light dark;

  --btn-padding: 0.5em 0.75em;
  --btn-radius: 5px;

  font-family: monospace;
  color-scheme: var(--color-scheme);
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-fg: black;
    --clr-bg: antiquewhite;
    --clr-btn-bg: powderblue;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-fg: antiquewhite;
    --clr-bg: black;
    --clr-btn-bg: gray;
  }
}

[data-theme="light"] {
  color-scheme: only light;
  --clr-fg: black;
  --clr-bg: antiquewhite;
  --clr-btn-bg: powderblue;
}

[data-theme="dark"] {
  color-scheme: only dark;
  --clr-fg: antiquewhite;
  --clr-bg: black;
  --clr-btn-bg: gray;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--clr-fg);
  background-color: var(--clr-bg);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  padding: 1em;
  text-align: center;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

button {
  font-size: unset;
  border: unset;
  cursor: pointer;
}
button:hover {
  filter: brightness(1.1);
}

select {
  font-size: inherit;
  font-family: inherit;
}

.app-name {
  font-size: 4rem;
}

.board {
  padding: 2rem 0;
  /* overflow-x: scroll; */
}

.row {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: min-content;
}

.cell {
  --margin: 1px;
  /* width: 8rem; */
  /* height: 8rem; */
  aspect-ratio: 1;

  max-width: 10rem;
  width: calc(100vw / 3 - 2 * var(--margin));
  min-width: 2rem;

  max-height: 10rem;
  height: calc(100vw / 3 - 2 * var(--margin));
  min-height: var(--margin);

  background-color: lightgray;
  margin: 1px;
}
.cell:hover {
  background-color: pink;
}

.game-status {
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
}

.reset-btn {
  font-size: 2rem;
  background-color: var(--clr-btn-bg);
  padding: var(--btn-padding);
  border-radius: var(--btn-radius);
}

.theme-select {
  padding-top: 2rem;
  font-size: 2rem;

  & select {
    color: inherit;
    background-color: var(--clr-bg);
    padding: 0.25em;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

/* * { outline: 1px solid hotpink; } */
