:root {
  font-family: monospace;

  --clr-bg: antiquewhite;
  --clr-btn-bg: powderblue;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-bg);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  padding: 1em;
  text-align: center;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 1rem 0;
}

button {
  font-size: unset;
  border: unset;
  cursor: pointer;
}
button:hover {
  filter: brightness(1.1);
}

.app-name {
  font-size: 4rem;
}

.board {
  padding: 2rem 0;
  /* overflow-x: scroll; */
}

.row {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: min-content;
}

.cell {
  --margin: 1px;
  /* width: 8rem; */
  /* height: 8rem; */
  aspect-ratio: 1;

  max-width: 10rem;
  width: calc(100vw / 3 - 2 * var(--margin));
  min-width: 2rem;

  max-height: 10rem;
  height: calc(100vw / 3 - 2 * var(--margin));
  min-height: var(--margin);

  background-color: lightgray;
  margin: 1px;
}
.cell:hover {
  background-color: pink;
}

.game-status {
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
}

.reset-btn {
  font-size: 2rem;
  background-color: var(--clr-btn-bg);
  padding: 0.5em 0.75em;
  margin: 0 auto;
  border-radius: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

/* * { */
/*   outline: 1px solid hotpink; */
/* } */
